.home_container{
    width: 100vw !important;
    height: 100dvh;
    background-image: url('/src/assets/Background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 1rem;
}